.containerList {
    height: 90vh;
    padding: 2%;
    filter: drop-shadow(0px 4px 4px rgba(169, 41, 41, 0.25));
    opacity: 0.7;
  }
  .table1 {
    border-collapse: separate;
    border-spacing: 3px;
  } 

  .tabla {
    display: flex;
  }
  .celdas {
    width: 50%;
    background-color: #545454;
    color :#ffffff;
  }
  td {
    /*border: 1px solid #FFFFFF;*/
    text-align: center;
    padding: 20px;
    width: 15.1%; 
  }
  table td {
    /* width: 60px;
    height: 10px; */
    background-color: #545454;
    color: #FFFFFF;
  }